https://mindcompass.github.io/data_analysis/data_analysis(pandas_preprocessing)/ 참고URL

In [ ]:
import pandas as pd #판다스 패키지 불러오기

 #파일을 로드합니다. 갭마인더는 열이 탭으로 구분되어 있기 때문에, 5개 대륙, 총 142개 국가에 대한 1952년~2007년의 데이터가 5년 간격으로 담고 있음
#gapminder = pd.read_csv('https://raw.githubusercontent.com/jennybc/gapminder/master/inst/extdata/gapminder.tsv', sep='\t') 
gapminder = pd.read_csv('/content/drive/MyDrive/data/gapminder.csv')    # 세계 각국의 기대 수명(lifeExp), 1인당 국내총생산(gdpPercap), 인구(pop) 데이터

type(gapminder) #전체 파일의 형태를 파악합니다.

pandas.core.frame.DataFrame

In [ ]:
print(gapminder.head())
print('\n')
print(gapminder.head(10))

       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106


       country continent  year  lifeExp       pop   gdpPercap
0  Afghanistan      Asia  1952   28.801   8425333  779.445314
1  Afghanistan      Asia  1957   30.332   9240934  820.853030
2  Afghanistan      Asia  1962   31.997  10267083  853.100710
3  Afghanistan      Asia  1967   34.020  11537966  836.197138
4  Afghanistan      Asia  1972   36.088  13079460  739.981106
5  Afghanistan      Asia  1977   38.438  14880372  786.113360
6  Afghanistan      Asia  1982   39.854  12881816  978.011439
7  Afghanistan      Asia  1987   40.822  13867957  852.395945
8  Afghanistan      Asia  1992   41.674  16317921  649.341395
9  Afghanistan      Asia  1997   41.763  22227415  635.341351

In [ ]:
print(gapminder.tail())
print('\n')
print(gapminder.tail(10))

       country continent  year  lifeExp       pop   gdpPercap
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298


       country continent  year  lifeExp       pop   gdpPercap
1694  Zimbabwe    Africa  1962   52.358   4277736  527.272182
1695  Zimbabwe    Africa  1967   53.995   4995432  569.795071
1696  Zimbabwe    Africa  1972   55.635   5861135  799.362176
1697  Zimbabwe    Africa  1977   57.674   6642107  685.587682
1698  Zimbabwe    Africa  1982   60.363   7636524  788.855041
1699  Zimbabwe    Africa  1987   62.351   9216418  706.157306
1700  Zimbabwe    Africa  1992   60.377  10704340  693.420786
1701  Zimbabwe    Africa  1997   46.809  11404948  792.449960
1702  Zimbabwe    Africa  2002   39.989  11926563  672.038623
1703  Zimbabwe    Africa  2007   43.487  12311143  469.709298

In [ ]:
gapminder.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1704 entries, 0 to 1703
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   country    1704 non-null   object
 1   continent  1704 non-null   object
 2   year       1704 non-null   int64
 3   lifeExp    1704 non-null   float64
 4   pop        1704 non-null   int64
 5   gdpPercap  1704 non-null   float64
dtypes: float64(2), int64(2), object(2)
memory usage: 80.0+ KB

In [ ]:
gapminder.shape #데이터 프레임의 행의 수와 컬럼의 수를 확인합니다.

(1704, 6)

In [ ]:
print(gapminder.describe()) #연속변수에 해당하는 커럼의 특성을 파악합니다.

             year      lifeExp           pop      gdpPercap
count  1704.00000  1704.000000  1.704000e+03    1704.000000
mean   1979.50000    59.474439  2.960121e+07    7215.327081
std      17.26533    12.917107  1.061579e+08    9857.454543
min    1952.00000    23.599000  6.001100e+04     241.165876
25%    1965.75000    48.198000  2.793664e+06    1202.060309
50%    1979.50000    60.712500  7.023596e+06    3531.846988
75%    1993.25000    70.845500  1.958522e+07    9325.462346
max    2007.00000    82.603000  1.318683e+09  113523.132900

In [ ]:

gapminder['continent'].unique()  
print(gapminder['continent'].unique())

['Asia' 'Europe' 'Africa' 'Americas' 'Oceania']

In [ ]:
gapminder['year'].value_counts()

1952    142
1957    142
1962    142
1967    142
1972    142
1977    142
1982    142
1987    142
1992    142
1997    142
2002    142
2007    142
Name: year, dtype: int64

In [ ]:
gapminder['continent'].value_counts()

Africa      624
Asia        396
Europe      360
Americas    300
Oceania      24
Name: continent, dtype: int64

# 통계함수 적용하기

In [ ]:
# 통계함수 적용하기 - max 함수


#숫자값 비교하여 큰 값
#문자열은 아스키코드 값으로 변환하여 크고 작음을 비교
print(gapminder.max())   # 모든 열에 대해서 가장 큰 값을 찾아서 반환
print('\n')
print(gapminder['lifeExp'].max())
print('\n')
print(gapminder['country'].max())

country         Zimbabwe
continent        Oceania
year                2007
lifeExp           82.603
pop           1318683096
gdpPercap    113523.1329
dtype: object


82.603


Zimbabwe

In [ ]:
# 통계함수 적용하기 - min 함수

print(gapminder.min())
print('\n')
print(gapminder['lifeExp'].min())
print('\n')
print(gapminder['country'].min())

country      Afghanistan
continent         Africa
year                1952
lifeExp           23.599
pop                60011
gdpPercap     241.165876
dtype: object


23.599


Afghanistan

In [ ]:
# 통계함수 적용하기 - mean 함수  평균값  
# 수치데이터를 가지고 있는 열에 대해서 계산하여 시리즈 객체로 반환

print(gapminder.mean())
print('\n')
print(gapminder['lifeExp'].mean())

year         1.979500e+03
lifeExp      5.947444e+01
pop          2.960121e+07
gdpPercap    7.215327e+03
dtype: float64


59.474439366197174

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

In [ ]:
 # 통계함수 적용하기 - median 함수  중간값
 #수치데이터를 가지고 있는 열에 대해서 계산하여 시리즈 객체로 반환

print(gapminder.median())
print('\n')
print(gapminder['lifeExp'].median())

year         1.979500e+03
lifeExp      6.071250e+01
pop          7.023596e+06
gdpPercap    3.531847e+03
dtype: float64


60.7125

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:4: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  after removing the cwd from sys.path.

In [ ]:
# 통계함수 적용하기 - std 함수   표준편차

print(gapminder.std())
print('\n')
print(gapminder['lifeExp'].std())

year         1.726533e+01
lifeExp      1.291711e+01
pop          1.061579e+08
gdpPercap    9.857455e+03
dtype: float64


12.917107415241192

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  This is separate from the ipykernel package so we can avoid doing imports until

In [ ]:
# 통계함수 적용하기 - corr 함수   상관계수
# 2개의 열에 대한 상관계수를 계산

print(gapminder.corr())
print('\n')
print(gapminder[['lifeExp' , 'gdpPercap']].corr())

               year   lifeExp       pop  gdpPercap
year       1.000000  0.435611  0.082308   0.227318
lifeExp    0.435611  1.000000  0.064955   0.583706
pop        0.082308  0.064955  1.000000  -0.025600
gdpPercap  0.227318  0.583706 -0.025600   1.000000


            lifeExp  gdpPercap
lifeExp    1.000000   0.583706
gdpPercap  0.583706   1.000000

문제 1)pop 평균보다 인구가 높은 국가의 2000년대 데이터를 필터링하고,continent, country, pop, gdpPercap 열만 출력하라

In [ ]:
gapminder['year'].unique() #우선 year데이터에 어떤 값이 있는지 확인합니다. 
print(gapminder['year'].unique())

[1952 1957 1962 1967 1972 1977 1982 1987 1992 1997 2002 2007]

In [ ]:
#2000년대 데이터는 2002년과 2007년이 있네요.

gapminder1=gapminder[(gapminder['pop']>=gapminder['pop'].mean())&(gapminder['year'].isin([2002, 2007]))]
print(gapminder1)

             country continent  year  lifeExp        pop     gdpPercap
11       Afghanistan      Asia  2007   43.828   31889923    974.580338
34           Algeria    Africa  2002   70.994   31287142   5288.040382
35           Algeria    Africa  2007   72.301   33333216   6223.367465
58         Argentina  Americas  2002   74.340   38331121   8797.640716
59         Argentina  Americas  2007   75.320   40301927  12779.379640
...              ...       ...   ...      ...        ...           ...
1607  United Kingdom    Europe  2007   79.425   60776238  33203.261280
1618   United States  Americas  2002   77.310  287675526  39097.099550
1619   United States  Americas  2007   78.242  301139947  42951.653090
1654         Vietnam      Asia  2002   73.017   80908147   1764.456677
1655         Vietnam      Asia  2007   74.249   85262356   2441.576404

[71 rows x 6 columns]

In [ ]:
gapminder1[['continent','country', 'pop', 'gdpPercap']]

     continent         country        pop     gdpPercap
11        Asia     Afghanistan   31889923    974.580338
34      Africa         Algeria   31287142   5288.040382
35      Africa         Algeria   33333216   6223.367465
58    Americas       Argentina   38331121   8797.640716
59    Americas       Argentina   40301927  12779.379640
...        ...             ...        ...           ...
1607    Europe  United Kingdom   60776238  33203.261280
1618  Americas   United States  287675526  39097.099550
1619  Americas   United States  301139947  42951.653090
1654      Asia         Vietnam   80908147   1764.456677
1655      Asia         Vietnam   85262356   2441.576404

[71 rows x 4 columns]

문제 2 ) 문제1에서 추출한 데이터프레임에서 한국, 중국, 일본의 데이터를 추출하고, 국가별로 그룹화해서 인구수의 평균을 구하라.

In [ ]:
gapminder2=gapminder1[['continent','country', 'pop', 'gdpPercap']]
print(gapminder2)

In [ ]:
gapminder2.country.unique()

array(['Afghanistan', 'Algeria', 'Argentina', 'Bangladesh', 'Brazil',
       'Canada', 'China', 'Colombia', 'Congo, Dem. Rep.', 'Egypt',
       'Ethiopia', 'France', 'Germany', 'India', 'Indonesia', 'Iran',
       'Italy', 'Japan', 'Kenya', 'Korea, Rep.', 'Mexico', 'Morocco',
       'Myanmar', 'Nigeria', 'Pakistan', 'Philippines', 'Poland',
       'South Africa', 'Spain', 'Sudan', 'Tanzania', 'Thailand', 'Turkey',
       'United Kingdom', 'United States', 'Vietnam'], dtype=object)

In [ ]:
#값을 확인해서 east_asia에 넣어줍니다.
east_asia=['Korea, Rep.','Japan','China']

In [ ]:
gapminder2[gapminder2['country'].isin(east_asia)]

    continent      country         pop     gdpPercap
298      Asia        China  1280400000   3119.280896
299      Asia        China  1318683096   4959.114854
802      Asia        Japan   127065841  28604.591900
803      Asia        Japan   127467972  31656.068060
850      Asia  Korea, Rep.    47969150  19233.988180
851      Asia  Korea, Rep.    49044790  23348.139730

In [ ]:
gapminder2[gapminder2['country'].isin(east_asia)].groupby(['country']).mean()['pop']

country
China          1.299542e+09
Japan          1.272669e+08
Korea, Rep.    4.850697e+07
Name: pop, dtype: float64

문제3. 문제2에서 작성한 데이터프레임으로 3개국의 2000년대 인구수를 막대그래프로 작성하라(plot()을 사용할 것)

In [1]:
gapminder3=gapminder2[gapminder2['country'].isin(east_asia)].groupby(['country']).mean()['pop']

gapminder3.plot(kind='bar',title="2000's population in East_asia", rot=1, color=['red', 'blue', 'green'])

NameError: ignored

인구 분포 순위 
 filter(year == 1952 & continent =="Asia")
  ggplot(aes(reorder(country, pop), pop)) + geom_bar(stat = "identity") + coord_flip()

인구 분포 순위(로그 스케일 축)
    -  큰 값은 작게, 작은 값은 크게 변환되므로 전체적인비교가 가능


    -  filter(year==1952 & continent== "Asia") 
    -  ggplot(aes(reorder(country, pop), pop)) + geom_bar(stat = "identity") + scale_y_log10() + coord_flip()

기대수명 분포
     -  filter(year == 1952) 
     - ggplot(aes(lifeExp)) + geom_histogram()

대륙별 기대수명 분포
        -  filter(year == 1952)
        - ggplot(aes(continent, lifeExp)) + geom_boxplot()